@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
header {
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: #ffffff;
  padding: 1rem;
  position: fixed;
  transition: linear .3s; }

.brand {
  color: #358CD6;
  font-weight: 700;
  font-size: 3em; }

.nav-items {
  display: flex;
  margin-left: auto;
  list-style: none; }

.nav-item {
  margin: 0 .5rem; }

.nav-link {
  color: #242424;
  font-weight: 500;
  font-size: 1.8em; }

.shrink {
  background-color: #242424;
  padding: .5rem; }
  .shrink .brand {
    font-size: 2.5em; }
  .shrink .nav-link {
    color: #f0f0f0;
    font-size: 1.6em; }
  .shrink .nav-link:hover {
    color: #3a9aee; }

.post-card {
  background-color: #ffffff;
  padding: .3rem 2rem;
  margin: 1.2rem 0;
  border-radius: .5rem; }

.read-more {
  font-size: 1em; }

.paginator .pagination {
  padding: 0;
  justify-content: center;
  display: flex;
  list-style: none; }
  .paginator .pagination .page-item {
    background-color: #ffffff;
    border-radius: .5rem;
    padding: .8rem 1rem;
    margin-right: .3rem;
    transition: .2s; }
    .paginator .pagination .page-item .page-link {
      margin: 0; }
  .paginator .pagination .page-item:hover {
    background-color: #464646; }
    .paginator .pagination .page-item:hover .page-link {
      color: #fff; }

.tag {
  color: #464646;
  font-weight: 500;
  margin: 0 .3em;
  font-size: 1em;
  background-color: #f7bd7e;
  padding: .3rem .8rem;
  border-radius: .3rem; }

.tag:hover {
  background-color: #e99b48;
  color: #ffffff; }

footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: #242424; }
  footer p {
    color: #f0f0f0; }

body {
  margin: 0;
  margin-top: 5rem;
  font-size: 10px;
  background-color: #f1f1f1;
  height: 100%; }

p {
  font-family: 'Rubik';
  font-size: 1.8em;
  font-weight: 400;
  color: #242424; }

p a {
  font-size: 1em; }

a {
  font-family: 'Rubik';
  font-size: 1.6em;
  text-decoration: none;
  color: #358CD6;
  transition: 0.2s; }

a:hover {
  color: #3a9aee; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik'; }

h1 {
  font-size: 2.6em;
  font-weight: 700;
  color: #303030;
  margin: 1rem 0; }

h2 {
  font-weight: 500;
  font-size: 2.4em;
  margin: 1rem 0; }

h3 {
  font-size: 2.2em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1rem 0;
  color: #464646; }

h6 {
  font-size: 1.5em;
  font-weight: 300; }

blockquote {
  color: #464646;
  font-size: .9em;
  background-color: #eeeeee;
  padding: .7rem 1.5rem;
  border-left: 5px solid #358CD6;
  border-radius: 0 .5rem .5rem 0;
  font-style: italic; }
  blockquote p {
    margin: .3rem .5rem; }

img {
  width: 100%;
  height: 100%;
  border-radius: .5rem; }

input {
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.6em;
  border: .1rem solid #fff;
  transition: .2s; }

input:focus {
  border: 0.1rem solid #358CD6;
  outline: none; }
