@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
header {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: #242424; }

.theme-light .nav {
  width: 100%;
  padding: .5rem 0;
  display: flex;
  margin: auto;
  justify-content: center;
  z-index: 100;
  background-color: #ffffff;
  transition: linear .3s; }

.theme-dark .nav {
  width: 100%;
  padding: .5rem 0;
  display: flex;
  margin: auto;
  justify-content: center;
  z-index: 100;
  background-color: #303030;
  transition: linear .3s; }

.sticky {
  position: fixed;
  top: 0; }

.theme-light .brand {
  color: #358CD6;
  margin: auto;
  font-weight: 700;
  font-size: 3em; }

.theme-dark .brand {
  color: #358CD6;
  margin: auto;
  font-weight: 700;
  font-size: 3em; }

.nav-items {
  padding: 0;
  display: flex;
  list-style: none; }

.nav-item {
  margin: 0 .5rem; }

.theme-light .nav-link {
  color: #242424;
  font-weight: 500;
  font-size: 1.8em; }

.theme-dark .nav-link {
  color: #eeeeee;
  font-weight: 500;
  font-size: 1.8em; }

.theme-light .shrink {
  background-color: #242424;
  padding: .5rem; }
  .theme-light .shrink .brand {
    font-size: 2.5em; }
  .theme-light .shrink .nav-link {
    color: #f0f0f0;
    font-size: 1.6em; }
  .theme-light .shrink .nav-link:hover {
    color: #3a9aee; }
  .theme-light .shrink label {
    color: #f0f0f0; }
  .theme-light .shrink .vertical-hr {
    background-color: #f0f0f0; }

.theme-dark .shrink {
  background-color: #242424;
  padding: .5rem; }
  .theme-dark .shrink .brand {
    font-size: 2.5em; }
  .theme-dark .shrink .nav-link {
    color: #f0f0f0;
    font-size: 1.6em; }
  .theme-dark .shrink .nav-link:hover {
    color: #3a9aee; }
  .theme-dark .shrink label {
    color: #f0f0f0; }
  .theme-dark .shrink .vertical-hr {
    background-color: #f0f0f0; }

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: start; }

.switch {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 1.5rem; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.theme-light .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }

.theme-dark .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #464646;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }

.theme-light .slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0px;
  bottom: 0px;
  background-color: #358CD6;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.theme-dark .slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0px;
  bottom: 0px;
  background-color: #358CD6;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.theme-light input:checked + .slider {
  background-color: #358CD6; }

.theme-dark input:checked + .slider {
  background-color: #358CD6; }

.theme-light input:focus + .slider {
  box-shadow: 0 0 1px #358CD6; }

.theme-dark input:focus + .slider {
  box-shadow: 0 0 1px #358CD6; }

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem); }

.slider.round {
  border-radius: 1rem; }

.slider.round:before {
  border-radius: 50%; }

.theme-light .vertical-hr {
  width: .1rem;
  height: 2.3rem;
  margin: 0 1rem;
  align-self: center;
  background-color: #242424; }

.theme-dark .vertical-hr {
  width: .1rem;
  height: 2.3rem;
  margin: 0 1rem;
  align-self: center;
  background-color: #eeeeee; }

.theme-light .post-card {
  background-color: #ffffff;
  padding: .3rem 2rem;
  margin: 1.2rem 0;
  border-radius: .5rem;
  transition: 0.3s; }

.theme-dark .post-card {
  background-color: #303030;
  padding: .3rem 2rem;
  margin: 1.2rem 0;
  border-radius: .5rem;
  transition: 0.3s; }

.theme-light .read-more {
  font-size: 1em; }

.theme-dark .read-more {
  font-size: 1em; }

.theme-light .pagination {
  padding: 0;
  justify-content: center;
  display: flex;
  list-style: none; }
  .theme-light .pagination .page-item {
    background-color: #ffffff;
    border-radius: .5rem;
    margin-right: .3rem;
    display: flex;
    cursor: pointer;
    transition: 0.3s; }
    .theme-light .pagination .page-item .page-link {
      padding: .8rem;
      margin: 0; }
  .theme-light .pagination .page-item:hover {
    background-color: #eeeeee; }
    .theme-light .pagination .page-item:hover .page-link {
      color: #ffffff; }

.theme-dark .pagination {
  padding: 0;
  justify-content: center;
  display: flex;
  list-style: none; }
  .theme-dark .pagination .page-item {
    background-color: #303030;
    border-radius: .5rem;
    margin-right: .3rem;
    display: flex;
    cursor: pointer;
    transition: 0.3s; }
    .theme-dark .pagination .page-item .page-link {
      padding: .8rem;
      margin: 0; }
  .theme-dark .pagination .page-item:hover {
    background-color: #464646; }
    .theme-dark .pagination .page-item:hover .page-link {
      color: #ffffff; }

.theme-light .tag {
  color: #464646;
  font-weight: 500;
  margin: 0 .3em;
  font-size: 1em;
  background-color: #f7bd7e;
  padding: .3rem .8rem;
  border-radius: .3rem;
  transition: 0.3s; }

.theme-dark .tag {
  color: #464646;
  font-weight: 500;
  margin: 0 .3em;
  font-size: 1em;
  background-color: #f7bd7e;
  padding: .3rem .8rem;
  border-radius: .3rem;
  transition: 0.3s; }

.theme-light .tag:hover {
  background-color: #e99b48;
  color: #ffffff; }

.theme-dark .tag:hover {
  background-color: #e99b48;
  color: #ffffff; }

.theme-light .plugin {
  background-color: #ffffff;
  padding: .9rem .8rem;
  margin: 1.2rem 0;
  border-radius: .5rem;
  transition: 0.3s; }

.theme-dark .plugin {
  background-color: #303030;
  padding: .9rem .8rem;
  margin: 1.2rem 0;
  border-radius: .5rem;
  transition: 0.3s; }

.theme-light footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: #242424; }

.theme-dark footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: #242424; }

.theme-light footer p {
  color: #ffffff; }

.theme-dark footer p {
  color: #ffffff; }

body {
  height: 100%;
  margin: 0;
  font-size: 10px; }

.theme-light .wrapper {
  background-color: #f1f1f1;
  transition: 0.3s; }

.theme-dark .wrapper {
  background-color: #202020;
  transition: 0.3s; }

.theme-light p {
  font-family: 'Rubik';
  font-size: 1.8em;
  font-weight: 400;
  color: #242424;
  transition: 0.3s; }

.theme-dark p {
  font-family: 'Rubik';
  font-size: 1.8em;
  font-weight: 400;
  color: #eeeeee;
  transition: 0.3s; }

.theme-light p a {
  font-size: 1em; }

.theme-dark p a {
  font-size: 1em; }

.theme-light a {
  font-family: 'Rubik';
  font-size: 1.6em;
  text-decoration: none;
  color: #358CD6;
  transition: 0.3s; }

.theme-dark a {
  font-family: 'Rubik';
  font-size: 1.6em;
  text-decoration: none;
  color: #358CD6;
  transition: 0.3s; }

.theme-light a:hover {
  color: #3a9aee; }

.theme-dark a:hover {
  color: #3a9aee; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik';
  transition: 0.3s; }

.theme-light h1 {
  font-size: 2.6em;
  font-weight: 700;
  color: #303030;
  margin: 1rem 0; }

.theme-dark h1 {
  font-size: 2.6em;
  font-weight: 700;
  color: #ffffff;
  margin: 1rem 0; }

.theme-light h2 {
  color: #303030;
  font-weight: 500;
  font-size: 2.4em;
  margin: .7rem 0; }

.theme-dark h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 2.4em;
  margin: .7rem 0; }

.theme-light h3 {
  color: #242424;
  font-size: 2.2em; }

.theme-dark h3 {
  color: #eeeeee;
  font-size: 2.2em; }

.theme-light h4 {
  color: #242424;
  font-size: 2em; }

.theme-dark h4 {
  color: #eeeeee;
  font-size: 2em; }

.theme-light h5 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1rem 0;
  color: #464646; }

.theme-dark h5 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1rem 0;
  color: #8d8d8d; }

.theme-light h6 {
  color: #242424;
  font-size: 1.5em;
  font-weight: 300; }

.theme-dark h6 {
  color: #eeeeee;
  font-size: 1.5em;
  font-weight: 300; }

.theme-light blockquote {
  font-size: .9em;
  background-color: #eeeeee;
  padding: .7rem 1.5rem;
  border-left: 5px solid #358CD6;
  border-radius: 0 .5rem .5rem 0;
  font-style: italic;
  transition: 0.3s; }
  .theme-light blockquote p {
    margin: .3rem .5rem; }

.theme-dark blockquote {
  font-size: .9em;
  background-color: #464646;
  padding: .7rem 1.5rem;
  border-left: 5px solid #358CD6;
  border-radius: 0 .5rem .5rem 0;
  font-style: italic;
  transition: 0.3s; }
  .theme-dark blockquote p {
    margin: .3rem .5rem; }

img {
  width: 100%;
  height: 100%;
  border-radius: .5rem; }

.theme-light input {
  background-color: #eeeeee;
  color: #242424;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.6em;
  border: 0.1rem solid #ffffff;
  transition: 0.3s; }

.theme-dark input {
  background-color: #464646;
  color: #eeeeee;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.6em;
  border: 0.1rem solid #303030;
  transition: 0.3s; }

.theme-light input:focus {
  border: 0.1rem solid #358CD6;
  outline: none; }

.theme-dark input:focus {
  border: 0.1rem solid #358CD6;
  outline: none; }

.theme-light label {
  font-size: 1.6em;
  margin: 0 .5rem;
  color: #242424; }

.theme-dark label {
  font-size: 1.6em;
  margin: 0 .5rem;
  color: #eeeeee; }
