.post-card {
    @include themify() {
        background-color: themed('cardColor');
        padding: .3rem 2rem;
        margin: 1.2rem 0;
        border-radius: .5rem;
        transition: $transition;
    }
}
.read-more {
    @include themify() {
        font-size: 1em;
    }
}

.pagination {
    @include themify($themes) {
        padding: 0;
        justify-content: center;
        display: flex;
        list-style: none;
        .page-item {
            background-color: themed('cardColor');
            border-radius: .5rem;
            margin-right: .3rem;
            display: flex;
            cursor: pointer;
            transition: $transition;
            .page-link {
                padding: .8rem;
                margin: 0;
            }
        }
        .page-item:hover {
            background-color: themed('buttonHover');
            .page-link {
                color: #ffffff;
            }
        }
    }
}

.tag {
    @include themify($themes) {  
        color: themed('tagColor');
        font-weight: 500;
        margin: 0 .3em;
        font-size: 1em;
        background-color: themed('tagBackgroundColor');
        padding: .3rem .8rem;
        border-radius: .3rem;
        transition: $transition;
    }
}
.tag:hover {
    @include themify($themes) {
        background-color: themed('tagBackgroundColorHover');
        color: themed('tagColorHover');
    }
}

.content {
    margin: auto;
}