.plugin {
    @include themify() {
        background-color: themed('cardColor');
        padding: .9rem;
        margin: 1.2rem 0;
        border-radius: .5rem;
        transition: $transition;
    }
    ul {
        font-size: 1em;
        padding: 0;
        margin-left: 1rem;
    }
    li {
        list-style: none;
        display: flex;
    }
    li::before {
        content: '\26AB';
        align-self: center;
        margin-right: .5rem;
    }
}