$transition: .3s;
$themes: (
    light: (
        // body color
        backgroundColor: #f1f1f1,
        // color for header, footer
        baseColor: #ffffff,
        // text color
        textColor: #242424,
        // links
        linkColor: #358CD6,
        linkColorHover: #3a9aee,
        // H1
        TitleColor: #303030,
        // color for font-weight = 300 (optional)
        lightTextColor: #464646,

        cardColor: #ffffff,
        cardColorHover: #e0e0e0,

        blockquote: #eeeeee,

        buttonHover: #242424,

        // Tags
        tagColor: #464646,
        tagColorHover: #ffffff,
        tagBackgroundColor: #f7bd7e,
        tagBackgroundColorHover: #e99b48,
    ),
    dark: (
        // body color
        backgroundColor: #202020,
        // color for header, footer
        baseColor: #242424,
        // text color
        textColor: #eeeeee,
        // links
        linkColor: #358CD6,
        linkColorHover: #3a9aee,
        // H1
        TitleColor: #ffffff,
        // color for font-weight = 300 (optional)
        lightTextColor: #8d8d8d,

        cardColor: #303030,
        cardColorHover: #404040,

        blockquote: #464646,

        buttonHover: #464646,
        // Tags
        tagColor: #464646,
        tagColorHover: #ffffff,
        tagBackgroundColor: #f7bd7e,
        tagBackgroundColorHover: #e99b48,
        //
    ),
);